In [21]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import plotly_express as px

# for reproducibility - gets same set of values
np.random.seed(1337)

dice_series = pd.Series([np.random.randint(1, 6) for _ in range(10)])
dice_series.head()  # inspects the five first rows

0    5
1    1
2    2
3    3
4    3
dtype: int64

In [22]:
programs_dict = {"test1": 1,
                 "test2": 2,
                 "test3": 3}

programs_series = pd.Series(programs_dict)

df = pd.DataFrame(data=programs_series)
df

df = pd.DataFrame(data=programs_series, columns=("test",))
df

       test
test1     1
test2     2
test3     3

In [23]:
col1_dict = pd.Series(data={"t1": 1,
                            "t2": 2})

col2_dict = pd.Series(data={"t1": 1,
                            "t2": 2})

df_dict = {"colhead1": col1_dict,
           "colhead2": col2_dict}

df = pd.DataFrame(data=df_dict)
df

    colhead1  colhead2
t1         1         1
t2         2         2

In [24]:
series1 = pd.Series({"s1dk1": 1,
                     "s1dk2": 2,
                     "s1dk3": 3})

series2 = pd.Series({"s1dk1": 1,
                     "s1dk2": 2,
                     "s1dk3": 3})

df_dict = {"series1": series1, "series2": series2}

dataframe = pd.DataFrame(df_dict)
dataframe

       series1  series2
s1dk1        1        1
s1dk2        2        2
s1dk3        3        3

In [25]:
# Both do the same thing.

df_programs_over_29 = dataframe[dataframe["series1"] >= 2]
df_programs_over_29


series1 = pd.Series({"s1dk1": False,
                     "s1dk2": True,
                     "s1dk3": True})


df_programs_over_29 = dataframe[series1]
df_programs_over_29

       series1  series2
s1dk2        2        2
s1dk3        3        3

In [26]:
series1 = pd.Series({"s1dk1": 1,
                     "s1dk2": 2,
                     "s1dk3": 3})

series2 = pd.Series({"s1dk1": "11 hew",
                     "s1dk2": "11 hew",
                     "s1dk3": "11 hew"})

df_dict = {"series1": series1, "series2": series2}

dataframe = pd.DataFrame(df_dict)
dataframe



# converting Calories to int
dataframe["series2"] = dataframe["series2"].str[:-3].astype(int)
dataframe.sort_values(by="series1")

       series1  series2
s1dk1        1       11
s1dk2        2       11
s1dk3        3       11

In [27]:
np.random.seed(1337)
size = 8

random_matrix = np.random.randint(1, 10, (size, size))

print(f"{random_matrix.size = }")


index = np.random.choice(random_matrix.size, 10, replace=False)
print(f"{index = }")

random_matrix.size = 64
index = array([28, 42, 17, 49, 53, 31, 35,  2, 13, 62])

In [28]:
matrix = np.matrix([[1, 2], [3, 4]])

df = pd.DataFrame(matrix, columns=["A", "B"])
df.describe().T

   count  mean       std  min  25%  50%  75%  max
A    2.0   2.0  1.414214  1.0  1.5  2.0  2.5  3.0
B    2.0   3.0  1.414214  2.0  2.5  3.0  3.5  4.0